@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "PlayFair Display", sans-serif;
}

input,
textarea,
button {
  outline: none;
  outline-color: none;
  border: none;
}

button{
  cursor: pointer;
}

ul {
  list-style: none;
}

a:any-link {
  color: white;
  text-decoration: none;
}

:root{
    --MAIN-COLOR:#6A3BA7;
    --TEXT-COLOR:#fff;
}

.tittle{
    width: 100%;
    text-align: center;
    padding: 2rem;
}
.tittle h1{
    font-size: 2.5rem;
    font-weight: light;
}
/*MAIN CODE*/

header{
    width: 100%;
    height: auto;
    padding: 1.4rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--MAIN-COLOR);
    color: var(--TEXT-COLOR);
}

header h1{
    font-size: 2.35rem;
}

header nav ul{
    display: flex;
    gap: 3rem;
}

header nav ul li a{
    font-size: 1.2rem;
    position: relative;
}

header nav ul li a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 37px;
    background: var(--TEXT-COLOR);
    transform: scale(0,1);
    transition: all 0.1s ease-out;
}

header nav ul li a:hover::after{
    transform: scale(1,1);
}

header nav ul .active a:after{
    transform: scale(1,1);
}

header img{
    width: 40px;
    display: none;
}

.responsive{
    display: none;
}

@media screen and (max-width:620px){
    #navbar{
        display: none;
    }
    header img{
        display: block;
        cursor: pointer;
    }
    .responsive{
        display: block;
        position: fixed;
        right: 0;
        transform: translateX(100%);
        z-index:1000;
        transition: all ease-in-out 0.3s;
    }
    .responsive ul img{
        position: relative;
        top: -17%;
        left: 45%;
        width: 30px;
    }
    .responsive.active{
        transform: translateX(0);
    }
    .responsive ul{
        justify-content: center;
        margin-top: 110%;
        margin-left: 40%;
        height: 150vh;
        background: var(--MAIN-COLOR);
        width: 500px;
        gap: 2px;
        flex-direction: column;
        z-index: 1000;
    }
    .responsive ul li{
        height: 50px;
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom:1px solid;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .responsive ul li a::after{
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        left: 0;
        top: 37px;
        background: var(--TEXT-COLOR);
        transform: scale(0,1);
        transition: all 0.2s ease-out;
    }
    .side-bar-blur{
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(5px);
        display: none;
        transition: all ease-in-out 0.3s;
    }
    .side-bar-blur.blured{
        display: block;
    }
    #Front-page form button.active{
        z-index: -1;
    }
    #Info-asker form button{
        z-index:-1;
    }
}

footer{
    background: var(--MAIN-COLOR);
    color: var(--TEXT-COLOR);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer .tittle-styler{
    display: flex;
    flex-direction: column;
}

footer .tittle-styler legend{
    display: flex;
    gap: 2rem;
}

footer .tittle-styler legend img{
    display: none;
}

footer .tittle-styler h1{
    font-size: 1.9rem;
}

footer .tittle-styler .styler{
    background: var(--TEXT-COLOR);
    height: 2.4px;
    border-radius: 10px;
    width: 80px;
    margin: 10px 10px 10px 20px;
}

footer article{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

footer article h1{
    font-size: 3rem;
    font-weight: lighter;
}

footer .main-footer{
    display: flex;
    justify-content: space-evenly;
}

footer article figure{
    display: flex;
    gap: 1rem;
    align-items: center;
}

footer article figure img{
    width: 35px;
    cursor: pointer;
}

footer article figure figcaption{
    font-size: 1.3rem;
}

footer .main-footer ul{
    list-style-type: disc;
    display: flex;
    flex-direction:column;
    gap: 1.5rem;
}

footer .main-footer ul li{
    font-size: 1.3rem;
}

footer .sub-footer{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    gap: 1rem;
    align-items: center;
}

footer .sub-footer article p{
    font-size: 1.25rem;
    font-style: italic;
    font-weight: lighter;
}

footer .sub-footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

footer .sub-footer ul li{
    font-size: 1.15rem;
    transition: all 0.2s ease;
}

footer .sub-footer ul li:first-child{
    border-right: 2px solid white;
    padding-right: 1.5rem;
}

footer .sub-footer ul li:hover{
    text-decoration: underline;
}

@media screen and (max-width:700px){
    footer .tittle-styler .styler{
        display: none;
    }
    footer .main-footer{
        flex-direction: column;
    }
    footer .main-footer article{
        overflow: hidden;
        height: 73px; 
        transition: all 0.3s ease-out;
    }
    footer .main-footer article.active{
        height: 230px; 
    }
    footer .main-footer article:first-child{
        border-bottom: 1px solid var(--TEXT-COLOR);
    }
    footer .main-footer article:last-child{
        padding-top: 1.2rem;
    }
    footer .sub-footer{
        flex-direction: column;
    }
    footer .sub-footer ul{
        gap: 10px;
    }
    footer .tittle-styler legend img{
        display: block;
        width: 45px;
        cursor: pointer;
        transition: all 0.3s ease-out;
    }
    footer .tittle-styler legend img.clicked{
        transform: rotate(180deg);
    }
}

@media screen and (max-width:700px){
    footer .tittle-styler h1{
        font-size: 1.5rem;
    }
    footer .tittle-styler img{
        width: 30px;
    }
}